@import "tailwindcss";

:where(.css-dev-only-do-not-override-1a3rktk).ant-input-outlined {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #2A216D;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-1a3rktk).ant-input-outlined:focus-within{
    border-color: #2A216D;
}

::-webkit-scrollbar {
    display: none;
  }

  /* .w-\[10px\] {
    width: 0px;
} */

:where(.css-dev-only-do-not-override-1a3rktk).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #03346E;
    border-color: #03346E;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-picker-outlined {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #03346E;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #03346E;
    background: #ffffff;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #03346E;
    text-shadow: 0 0 0.25px currentcolor;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-tabs .ant-tabs-ink-bar {
    background: #03346E; 
  }